@model Garage2._0.Models.CheckOutViewModel
@{
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Are you sure you want to check out this?</h3>
                <h4 class="modal-title">Price: @((int)((Model.vehicle.InTime > DateTime.Now) ? 0 : (Model.vehicle.OutTime == null || Model.vehicle.OutTime > DateTime.Now) ? (DateTime.Now - Model.vehicle.InTime).Value.TotalHours * (int)(Model.vehicle.VehicleType) : (Model.vehicle.OutTime - Model.vehicle.InTime).Value.TotalHours * (int)(Model.vehicle.VehicleType) + (DateTime.Now - Model.vehicle.OutTime).Value.TotalHours * 2 * (int)(Model.vehicle.VehicleType)))</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.Owner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.Owner)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.RegNr)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.RegNr)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.Color)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.Color)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.NumberOfWheels)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.NumberOfWheels)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.VehicleType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.VehicleType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.InTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.InTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle.OutTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle.OutTime)
                    </dd>
                </dl>

                @using (Ajax.BeginForm("Checkout", new { id = Model.vehicle.Id }, new AjaxOptions { OnSuccess = "FormSuccess" }, new { id = "modalForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Check Out" class="btn btn-primary" form="modalForm" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->