@model Garage2._0.Models.Vehicle

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutTime)
        </dd>

    </dl>

    @using (Html.BeginForm("Checkout", "Home", FormMethod.Post, new { id = "modalForm" }))
    {
        @Html.AntiForgeryToken()
    }
</div>
