@model Garage2._0.Models.Vehicle
@{
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Are you sure you want to check out this?</h3>
                <h4 class="modal-title">Price: @((int)((Model.InTime > DateTime.Now)? 0 : (Model.OutTime == null || Model.OutTime > DateTime.Now)? (DateTime.Now - Model.InTime).Value.TotalHours * 10 : (Model.OutTime - Model.InTime).Value.TotalHours * 10 + (DateTime.Now - Model.OutTime).Value.TotalHours * 2 * 10))</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Owner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Owner)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RegNr)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegNr)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfWheels)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumberOfWheels)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VehicleType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VehicleType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OutTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OutTime)
                    </dd>
                </dl>

                @using (Ajax.BeginForm("Checkout", new { id = Model.Id }, new AjaxOptions { OnSuccess = "FormSuccess" }, new { id = "modalForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Check Out" class="btn btn-primary" form="modalForm" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->