@model Garage2._0.Models.CheckInViewModel
@{
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Check in!</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Checkin", "Home", new { id = Model.Id }, new AjaxOptions { OnSuccess = "FormSuccess" }, new { id = "modalForm", target = "_self" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="control-label col-md-2">Owner</label>
                            <div class="col-md-10">
                                <label class="control-label col-md-2">@(Model.vehicle.Owner)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">RegNr</label>
                            <div class="col-md-10">
                                <label class="control-label col-md-2">@(Model.vehicle.RegNr)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Color</label>
                            <div class="col-md-10">
                                <label class="control-label col-md-2">@(Model.vehicle.Color)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Number of wheels</label>
                            <div class="col-md-10">
                                <label class="control-label col-md-2">@(Model.vehicle.NumberOfWheels)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Vehicle Type</label>
                            <div class="col-md-10">
                                <label class="control-label col-md-2">@(Model.vehicle.VehicleType)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.InTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InTime, new { htmlAttributes = new { @class = "form-control datepickeredit" } })
                                @Html.ValidationMessageFor(model => model.InTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OutTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OutTime, new { htmlAttributes = new { @class = "form-control datepickeredit" } })
                                @Html.ValidationMessageFor(model => model.OutTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <input data-val="true" id="Checkedin" name="Checkedin" type="checkbox" value="true" checked hidden>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Save" class="btn btn-primary" form="modalForm" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('.datepickeredit').datetimepicker();
</script>