@model Garage2._0.Models.Vehicle
@{
    Layout = null;
}
<table class="table">
    <tbody>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Owner)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.Owner)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.RegNr)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.RegNr)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Color)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.Color)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.NumberOfWheels)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.NumberOfWheels)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.VehicleType)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.VehicleType)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.InTime)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.InTime)
            </td>
        </tr>
        @{if (Model.OutTime.HasValue)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.OutTime)</strong>
                </td>

                <td>
                    @Html.DisplayFor(model => model.OutTime)
                </td>
            </tr>
        }
        }
        <tr>
            <td>
                @Ajax.ActionLink("Delete", "Remove", new { id = Model.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "ModalContainer",
                            HttpMethod = "GET",
                            OnSuccess = "ModalLoaded"
                        }, new { target = "_self" })
            </td>
        </tr>
    </tbody>
</table>
