@model Garage2._0.Models.Vehicle
@{
    Layout = null;
}
<table class="table">
    <tbody>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Owner)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.Owner)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.RegNr)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.RegNr)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Color)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.Color)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.NumberOfWheels)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.NumberOfWheels)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.VehicleType)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.VehicleType)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.InTime)</strong>
            </td>

            <td>
                @Html.DisplayFor(model => model.InTime)
            </td>
        </tr>
        @{if (Model.OutTime.HasValue)
          {
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.OutTime)</strong>
                </td>

                <td>
                    @Html.DisplayFor(model => model.OutTime)
                </td>
            </tr>
          }
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-offset-5 col-sm-offset-5">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
</div>
